* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
    font-family: 'Roboto', sans-serif;
    background: #E5E5E5;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.container {
    max-width: 1529px;
    margin: 0 auto;
}

@media (max-width: 1280px) {
    .container {
        max-width: 1200px;
    }
}

@media (max-width: 768px) {

    .container {
        max-width: 738px;
    }
}

@media (max-width: 360px) {

    .container {
        width: 330px;
    }
}