.training {
    margin-top: 140px;
}

.training__title {
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    text-align: center;
}

.training__title-lilac {
    color: #CF51CE
}

.training__text {
    font-weight: 400;
    font-size: 25px;
    line-height: 160%;
    text-align: center;
    color: #331A2F;
    max-width: 848px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.training__item-icon {
    max-width: 261px;
    height: 7px;
    float: right;
}

.training__container {
    max-width: 688px;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 1280px) {
    .training__container {
        max-width: 574px;
    }

    .training__title {
        font-weight: 700;
        font-size: 39.9977px;
        line-height: 64px;
    }

    .training__item-icon {
        max-width: 218px;
        height: 6px;
    }

    .training__text {
        margin-top: 24px;
        font-weight: 400;
        font-size: 19.9988px;
        line-height: 160%;
        max-width: 683px;
    }
}

@media (max-width: 768px) {
    .training {
        margin-top: 120px;
    }
}

@media (max-width: 360px) {
    .training {
        margin-top: 100px;
    }

    .training__container {
        width: 300px;
    }

    .training__title {
        font-weight: 700;
        font-size: 24px;
        line-height: 150%;
    }

    .training__item-icon {
        width: 131px;
        height: 4px;
        margin-left: auto;
        margin-right: auto;
    }

    .training__text {
        margin-top: 21px;
        font-weight: 400;
        font-size: 18px;
        line-height: 160%;
    }
}